<div class="container">
    <!-- JUMBOTRON CONTANERS -->
    <div class="row">
        <div class="col-md-12 p-4 my-0 text-center">
            <h1 class="display-10 font-weight-normal">PUNNY HEADLINE</h1>
            <mat-form-field>
                <mat-select placeholder="Favorite food">
                    <mat-option *ngFor="let item of locations" [value]="item.location_id" (onSelectionChange)="showHotels($event, item)">
                    {{item.location_name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <!-- JUMBOTRON CONTANERS -->
</div>
    
<div class="container-fluid">
    <!-- TEST FOR MOBILE VIEW STARTS-->
    <div class="app-card d-flex bg-white rounded shadow-sm mb-4" *ngFor="let stall of stalls" (click)="getMenu(stall)">
        <div class="title-image rounded-left"></div>
        <div class="app-card-content d-flex flex-column">
            <div class="resto-name"> {{stall.name}} </div>
            <span class="resto-details">
                {{stall.cuisine}}
            </span>
            <div class="rating-box align-items-center ">
                <span class="material-icons rater-icon">star</span>
                <span class="rating-details p-1"> {{stall.rating}}/5.0 </span>
            </div>
        </div>
    </div>
    <!-- TEST FOR MOBILE VIEW ENDS-->
</div>