<!-- -->
<div class="container-wrapper">
    <!-- [class.border-red]="mediaQueryList.matches" -->
    <router-outlet></router-outlet>
</div>
<!-- -->

<!--
<mat-toolbar class="header-toolbar">
  <button mat-icon-button (click)="sidenav.toggle()" class="justify-content-end">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="brand-name">FOODDY</h1>
</mat-toolbar>
<!-- SIDE NAVIGATION CONTAINER AND MAIN CONTENT CONTAINER--
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" 
  (opened)="events.push('open!')"
  (closed)="events.push('close!')">
  <mat-nav-list class="sidenav-list">
    <!-- --
    <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">
      {{nav}}
    </a>
    <!-- --
    <a mat-list-item routerLink="." *ngFor="let nav of navItems">
      {{nav}}
    </a>
  </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="container-main">
      <!--<dashboard></dashboard>--
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- -->
